*.class
.classpath
.project
.settings
.vscode
# Package Files #
*.jar
*.war
*.ear
lib
target
.idea
classes
*.iml
deploy
**/_sys_metric.do.not.delete
**/.global.id.do-not-delete
**/.app.id.do-not-delete
